[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install -g pnpm@latest",
  "npx pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "npx pnpm prisma generate",
  "npx pnpm run build",
  "cp -r public .next/standalone/",
  "cp -r .next/static .next/standalone/.next/",
     "cp -r prisma .next/standalone/"
]

[start]
cmd = "cd .next/standalone && node server.js"

