[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install -g pnpm@latest",
  "/usr/local/bin/pnpm install --frozen-lockfile"
]

[phases.build]
cmds = ["/usr/local/bin/pnpm run build"]

[start]
cmd = "node server.js"

